<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Permissions for reading and writing to external storage -->
    <!-- Important: WRITE_EXTERNAL_STORAGE implies READ_EXTERNAL_STORAGE on older APIs -->
    <!-- For Android 10 (API 29) and above, consider Scoped Storage alternatives -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <!-- For targetSdkVersion 29+, this permission is largely ineffective
         due to Scoped Storage. requestLegacyExternalStorage is the temporary
         opt-out for Android 10. For Android 11+, it's ignored. -->

    <application
        android:label="grubtap"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:requestLegacyExternalStorage="true">
        <!-- requestLegacyExternalStorage:
             - Relevant for apps targeting Android 10 (API 29) to temporarily opt-out of Scoped Storage.
             - Ignored on Android 11 (API 30) and higher.
             - If you target Android 11+, you need to adapt to Scoped Storage principles
               or use the All Files Access permission for specific use cases (requires Play Store review).
        -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"
                />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
